<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Article not instock</label>
    <version>1.0.0</version>
    <copyright>ArtashesBaghdasaryan</copyright>
    <link>https://github.com/ArtashesBagdasaryan</link>
    <author>Artashes Baghdasaryan</author>
    <description></description>

    <changelog version="1.0.1">
        <changes>Release version</changes>
    </changelog>


</plugin>
